body {
  font-family: Arial;
  background: linear-gradient(135deg, #4caf50, #2196f3);
  color: white;
  text-align: center;
}

.container {
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

input {
  padding: 8px;
}
